# Plain text format example: web scraping

In [ ]:
import requests

In [ ]:
# read content of Wikipedia page on European windstorms and extract tabular content
URL = "https://en.wikipedia.org/wiki/List_of_European_windstorms"

try:
    response = requests.get(URL)
except requests.exceptions.RequestException as e:
    print("An error occured: ", e)
    raise requests.exceptions.RequestException(e)
    
data = response.content
print(data[:1024], '...')

In [ ]:
# now let's try to locate the beginning of the table
i = data.find(b"<th>") # (b"Grote Mandrenke")
if i > 0:
    print(f"Table starts at position {i}:\n{data[i:i+2048]}")

In [ ]:
# It would be cumbersome to extract this information manually
# Use beautifulsoup or pandas to digest the HTML table
import pandas as pd

dataframes = pd.read_html(URL)
print(dataframes[1])  # one example

In [ ]:
# Exercise: concatenate all dataframes into one